@import 'mixins.scss';
@import 'vars1.scss';

input[type=text], input[type=email], input[type=date], textarea {
    @include corners(#4e5c66, 3px, 3px, 3px, 3px, 1px);
    width: 95%; //150px; 
    background-color: #E9D6BE;
    color: #204059;
}
    
.button {
    width: 45%;
    .btnAdd { 
        background-color: #00ff00;
        float: left;
    }
    .btnClear {
        background-color: #ff0000;
        float: right;
    }
    .btnInvoice {
        @include marginCenter; 
        width: 90%;
    }
}

fieldset {
    @include backgroundTexture('../images/ ', #e9d0ae);
    legend {
        font: {
            family: $headerFont;
        }
    }
}
#update {
// #update is attached to the table
    td {
        vertical-align: top;
    }

}

#gridviewContainer {
    width: 100%;
    .gridview1 {
        width: 1000px;
	@include marginCenter;
	td {
	    vertical-align: top;
	    padding: 2px;
	}
    }
}

body {
    @include backgroundTexture('../images/escheresque.png', #9f8e77);
    color: #204059;
    font: {
        family: $mainFont;
    }
    h1 {
        font: {
            family: $headerFont;
        }
    }
}